<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Project code classes</title>
        <link rel="stylesheet" href="../app.css" type="text/css">
    </head>    
    <body>
     <div class="header">
      <div class="imhold"><img alt="lo" id="poster" class="logiIm" src='/logo1.png'></div>
       <div class="navhold">
          <div class="topnav">
              <a href="/">Home</a>
              <a href="/athletes" >Athletes</a>
              <a href="/add"  >Add Athletes</a>
              <a href="/products"  >Products</a>
              <a href="/insertsql"  >Add Product</a>
              <a href="/about"> About Us</a>
              
          </div>
      </div>
      </div>
      
      </body>
    
</html>