<% include ../partials/header %>
<div class="row">
    <h1>About Us</h1>
      <div class="row"><br>
    <div class="grid-container">
        
        <h2>The X Games Ireland is an annual extreme sports event hosted, produced, and broadcast by ESPN.<br>Coverage is also shown on other sport networks around the world.<br> 
The inaugural X Games were held during the summer of 1995 in Newport, Rhode Island.Participants compete to win bronze, silver, and gold medals, as well as prize money.</h2>
</h2>
    </div>
</div>

<% include ../partials/footer %>
   
</body>
    
</html>








