<% include ../partials/header %>
    <div class="row">
    <h1>Create Products page</h1>
    <div class="row"><br>
  <div class="grid-container">
         <form accept-charset="UTF-8" id="uploadform" ref="uploadform"action="/insertsql" method="post" enctype="multipart/form-data">
         <div class="item">
             <label for="name">Name:</label>
             <input name="name" type="text" placeholder="Please enter product name" pattern="[A-Za-z]{ }" title="Enter letters only" required />
    
             <label for="price">Price:</label>
             <input name="price" type="text" placeholder="Please enter a price" required/>
    
              <label for="image">Image:</label>
              <input class="button" type="file" name="sampleFile" required/><br>
            
             <label for="description">Description:</label>
             <input name="description" type="text" placeholder="Please enter a description" pattern="[A-Za-z]{ }" title="Enter letters only" required/>
                
              <button class="button">Add product</button>
         </div>
         </form>   
    </div>
  
</div>
    
    
<% include ../partials/footer %>

</body>
    
</html>